body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

.hero {
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px;
}

.hidden {
  display: none;
}
